.App {
  text-align: center;
}

.App-logo {
  margin-top: 1rem;
  height: 5rem;
  pointer-events: none;
  margin-bottom: 5rem;
}


.App-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-import-form {
  background-color: #222;
  min-height: 3em;
  max-width: 75%;
  margin: 2em 10% 2em 10%;
  font-size: 1.1em;
  color: #ddd;
  border-radius: 10px;
  font-family: 'Open Gothic', 'Franklin Gothic', 'Arial', sans-serif;
}

.App-import-form fieldset {
  border-radius: 5px;
  margin: 1% 15%;
  border: 1px solid#61dafb;
}

#visualizzazione {
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
}

.App-import-form2 {
  display: none;
}

.App-import-form select {
  background-color: #ddd;
  padding: 0.5em;
  border-radius: 5px;
}

.button {
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 0.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

#insert{
  margin-bottom: 5rem;
} 
#graph{
  margin-left:10rem; 
  float:left;
}
 #algorithm {
  float: left;
 }
 #dimensione{
   float:left; 
 }
 #button{
   float: left;
   margin-top: 2rem;
 }
  #columns{
    margin-top: 10rem;
  }

.FeaturesCont {
  background-color: #eee;
  margin: 2em 20% 2em 20%;
  text-align: left;
  padding: 1em;
}

.MenuBG {
  text-align: right;
}

/* colori slider */
#slider-2 {
  color: orange;
}

#slider-3 {
  color: rgb(0, 173, 0);
}