.App {
  text-align: center;
}

.App-logo {
  margin-top: 1rem;
  height: 5rem;
  pointer-events: none;
  margin-bottom: 2rem;
}

.App-header {
  background-color: black;
  min-height: 5em;
  align-items: center;
}

.menu_div {
  background-color: black;
  padding: 1em;
}

.App-link {
  color: #61dafb;
}

.App-import-form {
  background-color: #222;
  min-height: 3em;
  max-width: 75%;
  margin: 2em 10% 2em 10%;
  font-size: 1.1em;
  color: #ddd;
  border-radius: 10px;
  font-family: 'Open Gothic', 'Franklin Gothic', 'Arial', sans-serif;
}

.App-import-form fieldset {
  border-radius: 5px;
  margin: 1% 15%;
  border: 1px solid#61dafb;
}

#visualizzazione {
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
}

.App-import-form2 {
  display: none;
}

.App-import-form select {
  background-color: #ddd;
  padding: 0.5em;
  border-radius: 5px;
}

.main_menu {
  list-style-type: none;
  text-align: center;
}

.main_menu > li {
  display: inline-block;
  padding: 0.5em;
}

.main_menu > li a {
  background-color: rgb(101, 101, 187);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
}

.main_menu > li a:hover {
  background-color: rgb(144, 169, 223);
}

.item_home a {
  background-color: rgb(109, 47, 109);
  color: white;
}

.main_menu > li a:focus {
  background-color: rgb(109, 47, 109);
  color: white;
}

.button {
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 0.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

#insert{
  margin:0;
}

#columns{
    margin-top: 10rem;
}

.FeatContainer {
  display: inline-block;
}

.FeaturesCont {
  background-color: #eee;
  text-align: left;
  padding: 1em;
}

.titleGraph ul {
  list-style-type: none;
}

.MuiFormGroup-row {
  margin-top: 3em;
  flex-direction: column;
}

.textInput {
  margin-top: 0.8em;
  margin-left: 5%;
  padding: 5px;
  border: 2px solid black;
  font-weight: bold;
  font-size: x-large;
  height: 1.5em;
  width: 60%;
}

.MenuBG {
  text-align: right;
}

/* colori slider */
#slider-2 {
  color: orange;
}

#slider-3 {
  color: rgb(0, 173, 0);
}

/* bottone inserimento */
#inserimento{ 
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#selezione {
  padding: 2em;
}

/*colonne grid*/ 
#impostazioni {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1em 3em;
}

/*colonne*/
#colonne { 
  display: flex;
  grid-template-columns: auto auto;
}
.colonne fieldset {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/*algoritmi*/ 
.dimensione{ 
  display: none;
  padding: 0.5em;
}  

/*Bottone conferma*/
#ButtonConfirm{
  display: flex;
  justify-content: center;
}

#selezione a {
  text-decoration: none;
}

/* Gestione dataset*/
#dataset {
  display: grid;
  grid-template-columns: auto;
  margin-top: 1.2em;
} 

#dataset label {
  text-align: center;
  cursor: default;
}

#dataset button {
  cursor: pointer;
}

/* Lista dataset */
#dataset label span {
  margin-left: 8%;
}

#dataset label div {
  margin-left: 40%;
}

#db_div {
  top: 30%;
  left: 30%;
  width: 35%;
  padding: 5px 15px;
}

#buttonCloseDb {
  text-align: right;
  float: right;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorPrimary {
  margin-top: 0.3em;
}

.MuiIconButton-root {
  margin: 0px;
  padding: 0;
}

/* posizione del box select del db colonne e tab */
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  margin-left: 9.5em;
  max-width: 150px;
}

#button {
  text-align: center;
}

#titleGraphdiv {
  display: inline-flex;
  height: 5em;
}

#buttonRenameTitle {
  background-color: #9c27b0;
  margin: 1.8em;
}

#buttonConfirmRename {
  background-color: #51A800;
  margin: 1.6em;
}

/* div aggiungi dataset */
.dataset_div {
  margin-top: 1em;
}

#completeFormInsertDataset {
  height: 6em;
}

.MuiFormControl-root.MuiTextField-root {
  width: 28%;
}

#insertdataset, #formInsertDataset, #buttonConfirmAddDb {
  display: inline;
}

#buttonConfirmAddDb button {
  padding: 14px;
}