.App {
  text-align: center;
}

.App-logo {
  margin-top: 1rem;
  height: 5rem;
  pointer-events: none;
  margin-bottom: 5rem;
}


.App-header {
  background-color: white;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: -2em;
}

.App-link {
  color: #61dafb;
}

.App-import-form {
  background-color: #222;
  min-height: 3em;
  max-width: 75%;
  margin: 2em 10% 2em 10%;
  font-size: 1.1em;
  color: #ddd;
  border-radius: 10px;
  font-family: 'Open Gothic', 'Franklin Gothic', 'Arial', sans-serif;
}

.App-import-form fieldset {
  border-radius: 5px;
  margin: 1% 15%;
  border: 1px solid#61dafb;
}

#visualizzazione {
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
}

.App-import-form2 {
  display: none;
}

.App-import-form select {
  background-color: #ddd;
  padding: 0.5em;
  border-radius: 5px;
}

.main_menu {
  list-style-type: none;
  text-align: center;
}

.main_menu > li {
  display: inline-block;
  padding: 0.5em;
}

.main_menu > li a {
  background-color: rgb(101, 101, 187);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
}

.main_menu > li a:hover {
  background-color: rgb(144, 169, 223);
}

.item_home a {
  background-color: rgb(109, 47, 109);
  color: white;
}

.main_menu > li a:focus {
  background-color: rgb(109, 47, 109);
  color: white;
}

.button {
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 0.2em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} 

#insert{
  margin:0;
}

#columns{
    margin-top: 10rem;
}

.FeatContainer {
  display: inline-block;
}

.FeaturesCont {
  background-color: #eee;
  text-align: left;
  padding: 1em;
}

.titleGraph ul {
  list-style-type: none;
}

.MuiFormGroup-row {
  margin-top: 3em;
  flex-direction: column;
}

.textInput {
  text-align: center;
  width: 20%;
  padding: 5px;
  border: 1px solid black;
}

.MenuBG {
  text-align: right;
}

/* colori slider */
#slider-2 {
  color: orange;
}

#slider-3 {
  color: rgb(0, 173, 0);
}

/* bottone inserimento */
#inserimento{ 
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

#selezione {
  padding: 2em;
}

/*colonne grid*/ 
#impostazioni {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 1em 3em;
}

/*colonne*/
#colonne { 
  display: flex;
  grid-template-columns: auto auto;
}
.colonne fieldset {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

/*algoritmi*/ 
.dimensione{ 
  display: none;
  padding: 0.5em;
}  

/*Bottone conferma*/
#ButtonConfirm{
  display: flex;
  justify-content: center;
}

#selezione a {
  text-decoration: none;
}

/* Gestione dataset*/ 
#dataset{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 1em 3em;
}

.makeStyles-paper-4 {
  top: 30%;
  left: 30%;
  width: 35%;
  padding: 5px 15px;
}

.makeStyles-root-7 {
  text-align: right;
  float: right;
}

.MuiIconButton-root {
  margin: 0px;
  padding: 0;
}

/* posizione del box select del db colonne e tab */
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded {
  margin-left: 9em;
  max-width: 150px;
}

#button {
  text-align: center;
}