/** { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

html, body {
  height: 100%;
} 

body {
  height: 100%;
}

.App {
  text-align: center;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px; 
}

.App-logo {
  height: 6rem;
  pointer-events: none;
  display: inline;
}

.App-footer {
  background-color: black;
  text-align: center;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.App-footer, #push {
  height: 40px; 
}

#push {
  min-height: 40px;
  margin: 3em;
}

.App-footer {
  max-height: 40px;
}

.App-footer p {
  color: white;
  display: inline;
  position: relative;
  bottom: 0.8em;
}

.QT-logo {
  width: 6em;
  margin-left: 0.5em;
  display: inline;
}

.BuildGraph, .dataset_div, .ManUt, .visualization {
  min-height: 42em;
}

.ManUt {
  width: 90%;
  height: 800px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.App-header {
  background-color: black;
  align-items: center;
}

.menu_div {
  background-color: black;
  padding: 0.6em;
}

.div-menu-home {
  padding: 1em 0em 3em 0em;
}

.div-menu-home h1 {
  margin: 0;
}

.App-link {
  color: #61dafb;
}

.App-import-form {
  background-color: #222;
  min-height: 3em;
  max-width: 75%;
  margin: 2em 10% 2em 10%;
  font-size: 1.1em;
  color: #ddd;
  border-radius: 10px;
  font-family: 'Open Gothic', 'Franklin Gothic', 'Arial', sans-serif;
}

.App-import-form fieldset {
  border-radius: 5px;
  margin: 1% 15%;
  border: 1px solid#61dafb;
}

.visualization {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-bottom: 2em;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;*/
}

.uploadButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.uploadButton, .buildgraph-fieldset {
  border: 3px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  height: fit-content;
}

#inserimento legend, .buildgraph-legend {
  border: 3px solid rgba(0, 0, 0, 0.12);
  border-radius: 1.2em;
  padding: 0.5em 0.8em;
  text-align: center;
}

.GraphCont {
  padding-bottom: 2em;
  /*flex: 1 1 150px;  Stretching:
  flex: 0 1 150px;  No stretching: 
  margin: 5px;*/
}

#visualizzazione {
  display: flex;
  justify-content: space-evenly;
  justify-self: center;
}

.App-import-form2 {
  display: none;
}

.App-import-form select {
  background-color: #ddd;
  padding: 0.5em;
  border-radius: 5px;
}

.main_menu {
  list-style-type: none;
  text-align: center;
  padding-inline-start: 0px;
}

.main_menu li {
  display: block;
  margin: 0.7em;
  padding: 0.5em;
}

.main_menu li a, .main_menu dt a, .item_home button {
  background-color: rgb(101, 101, 187);
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
  border: none;
}

.item_home button {
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}

.main_menu li a:hover, .main_menu dt a:hover, .item_home button:hover {
  background-color: rgb(144, 169, 223);
}

.item_home a {
  background-color: rgb(109, 47, 109);
  color: white;
}

.main_menu dd {
  margin: 1.2em;
}

.menu_div.not_home ul {
  margin: 0;
}

.menu_div.not_home ul li  {
  display: inline-block;
}

.menu_div.not_home {
  padding: 0.2em;
}

.button {
  font-size: 1em;
  padding: 0.5em 1em;
  border-radius: 5px;
  margin: 0.2em;
}

#insert{
  margin: 8px;
}

#columns{
    margin-top: 10rem;
}

.options-container {
  display: inline-block;
  margin: 1em;
}

.FeaturesCont {
  background-color: #eee;
  text-align: left;
  padding: 1em;
}

.titleGraph ul {
  list-style-type: none;
}

.MuiFormGroup-row {
  margin-top: 3em;
  flex-direction: column;
}

.textInput {
  margin-top: 0.8em;
  margin-left: 5%;
  padding: 5px;
  border: 2px solid black;
  font-weight: bold;
  font-size: x-large;
  height: 1.5em;
  width: 60%;
}

.grafico {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width: 90%
}

/* colori slider */
.MuiSlider-root.MuiSlider-colorPrimary{
  color: #9c27b0;
}

.MuiButtonBase-root.MuiAccordionSummary-root div{
  margin: 0.2em;
}

/* bottone inserimento */
#inserimento{ 
  margin-top: 0.8em;
}

#inserimento p {
  margin: 0.4em;
}

#selezione {
  width: 100%;
  margin-top: 2em;
}

.buildgraph-fieldset[aria-labelledby=graph-options-label]{
  display: flex;
}

/*colonne grid*/ 
#impostazioni {
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 3em;
  padding-bottom: 2em;
}

.div-colonne {
  display: flex;
}

.colonne {
  display: flex;
  grid-gap: 3em;
}

.div-colonne button {
  margin-top: 0.6em;
}

.colonne fieldset {
  margin-top: 2em;
}

/*algoritmi*/ 
.dimensione{ 
  display: none;
  padding: 0.5em;
}  

/*Bottone conferma*/
#ButtonConfirm{
  display: flex;
  justify-content: center;
}

#ButtonConfirm button {
  pointer-events: auto;
}

#selezione a {
  text-decoration: none;
  display: block;
  pointer-events: none;
}

#datasets-container {
  margin: 2em;
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 4em;
}

/* Gestione dataset*/
#datasets-container div {
  display: inline-grid;
  grid-template-columns: auto auto;
}

#db-div {
  position: absolute;
	right: 25%;
  left: 25%;
  top: 20%;
  padding: 5px 20px;
}

#buttonCloseDb {
  text-align: right;
  float: right;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-colorPrimary {
  padding: 0.4em;
}

.MuiIconButton-root {
  margin: 0px;
  padding: 0;
}

.MenuBG {
  display: none;
}

#button-confirm-db, #button {
  text-align: center;
}

#button-confirm-db {
  padding: 0.5em;
}

#modaldb-info {
  margin-top: 0.5em;
}

.MuiCardContent-root {
  display: flex;
}

.MuiCardContent-root svg {
  margin-right: 1em;
}

.graph-title {
  margin: 0.2em;
}

.titleGraphdiv {
  display: inline-flex;
  height: 5em;
}

.MuiButtonBase-root.MuiFab-root.buttonRenameTitle.MuiFab-sizeSmall.MuiFab-secondary {
  background-color: #9c27b0;
  margin: 1.2em;
}

.MuiButtonBase-root.MuiFab-root.buttonConfirmRename.MuiFab-sizeSmall.MuiFab-primary {
  background-color: #51A800;
  margin: 1.6em;
}

#insert-dataset, #formInsertDataset, #buttonConfirmAddDb {
  display: inline;
}

#insert-dataset label {
  padding: 0.8em;
  display: table-cell;
}

#buttonConfirmAddDb button {
  padding: 14px;
}

.MuiCard-root.error {
  background-color: lightcoral;
  color: #750a02;
  border-color: #750a02;
}

.MuiCard-root.success {
  background-color: lightgreen;
  color: #206c45;
  border-color: #206c45;
}

.MuiCard-root.success, .MuiCard-root.error {
  width: auto;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  margin: 2em 1em;
}

#guide-div {
  position: absolute;
	right: 25%;
  left: 25%;
  top: 12.5%;
  bottom: 12.5%;
  padding: 5px 25px;
  width: 50%;
  overflow-y: scroll;
}

#guide-title {
  font-size: x-large;
}

#guide-div h4 {
  font-size: large;
  margin-bottom: 0.5em;
}

#guide-div dt {
  float: left;
  clear: left;
  font-weight: bold;
  padding-right: 5px;
}

#guide-div dt::after {
  content: ":";
}

#guide-div dd {
  margin-left: 0.1rem;
  margin-bottom: 0.4em;
}

#guide-div p {
  margin-top: 0;
  margin-bottom: 0.4em;
}

#guide-div .message {
  margin: 0.6em auto;
}

#guide-div .normal-weight {
  font-weight: normal;
  margin: 0 auto;
}

#guide-div .list::before {
  content: "-";
  font: large bold;
  margin: auto 0.7em auto 0.5em;
}

#guide-div .imitate.button {
    font-size: 0.875em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.02875em;
    text-transform: uppercase;
    padding: 6px 8px;
    margin: 3px auto;
    min-width: 64px;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    text-align: center;
    color: #fff;
    background-color: #9c27b0;
    box-shadow: 0px 3px 1px -2px 
      rgba(0,0,0,0.2),0px 2px 2px 0px 
      rgba(0,0,0,0.14),0px 1px 5px 0px 
      rgba(0,0,0,0.12);
}

#guide-div .imitate.nav.button {
  background-color: rgb(101, 101, 187);
}

#guide-div em {
  font-weight: 400;
  margin: 3px auto;
  padding: 3px 4px;
  border-radius: 4px;
  background-color: rgb(144, 169, 223);
  box-shadow: 0px 3px 1px -2px 
      rgba(0,0,0,0.2),0px 2px 2px 0px 
      rgba(0,0,0,0.14),0px 1px 5px 0px 
      rgba(0,0,0,0.12);
}