@media screen and (max-width:768px) { 
  #impostazioni {
    grid-template-columns: auto;
    grid-gap: 1em;
  }

  .makeStyles-paper-4 {
    top: 20%;
  }

  #datasets-container {
    grid-template-columns: auto auto;
  }

  #db-div {
    top: 10%;
  }
}