@media screen and (max-width:1023px) {  
  .visualization {
    grid-template-columns: auto;
  }

  #impostazioni {
    grid-gap: 5em;
  }
  
  #datasets-container {
  grid-template-columns: auto auto;
  }

}
